.header{
    height: 100vh;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
}
.menu{
    height: 70px;
    background-color: white;
   padding-left: 20px;
padding-right: 20px;
display: flex;

}
*{
margin: 0;
padding: 0;
}
.topmenu{
height: 80%;
}
.link{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.links{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 60%;
    gap: 10px;
}
